---
import Section from "./Section.astro"
import {skills} from "../../cv.json"

---

<Section title="Herramientas">
    <ul>
        {
            skills.map(({name,level}) =>{
                return (
                    <li>
                        <span>{name}</span>
                    </li>
                )
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        background: #eee;
        border-radius: 6px;
        color: black;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.2rem 0.8rem;
    }
</style>